<nav class="quick-nav" aria-label="Jump to industry">
  <div class="quick-nav__inner">
    <ul class="quick-nav__list">
      <li class="quick-nav__item quick-nav__item--red quick-nav__item--active">
        <a class="quick-nav__link" href="#d2c-cpg">
          <span class="quick-nav__num">01</span>
          <span class="quick-nav__label">Direct to Consumer &amp; CPG</span>
        </a>
      </li>
      <li class="quick-nav__item quick-nav__item--navy">
        <a class="quick-nav__link" href="#retail-ecommerce">
          <span class="quick-nav__num">02</span>
          <span class="quick-nav__label">Retail &amp; E-commerce</span>
        </a>
      </li>
      <li class="quick-nav__item quick-nav__item--green">
        <a class="quick-nav__link" href="#healthcare">
          <span class="quick-nav__num">03</span>
          <span class="quick-nav__label">Healthcare</span>
        </a>
      </li>
      <li class="quick-nav__item quick-nav__item--red">
        <a class="quick-nav__link" href="#manufacturing">
          <span class="quick-nav__num">04</span>
          <span class="quick-nav__label">Manufacturing</span>
        </a>
      </li>
      <li class="quick-nav__item quick-nav__item--navy">
        <a class="quick-nav__link" href="#logistics-supply-chain">
          <span class="quick-nav__num">05</span>
          <span class="quick-nav__label">Logistics &amp; Supply Chain</span>
        </a>
      </li>
      <li class="quick-nav__item quick-nav__item--green">
        <a class="quick-nav__link" href="#construction-real-estate">
          <span class="quick-nav__num">06</span>
          <span class="quick-nav__label">Construction &amp; Real Estate</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
