<section class="filters">
  <div class="filters__inner">
    <div class="filters__group" data-filter-group data-filter-target=".cs-grid__card" data-active-class="filters__tab--active">
      <button type="button" class="filters__tab filters__tab--active filters__tab--1" data-filter="all">ALL WORK</button>
      <button type="button" class="filters__tab filters__tab--2" data-filter="retail-ecommerce">RETAIL &amp; E-COMMERCE</button>
      <button type="button" class="filters__tab filters__tab--3" data-filter="construction">CONSTRUCTION</button>
      <button type="button" class="filters__tab filters__tab--4" data-filter="professional-services">PROFESSIONAL SERVICES</button>
      <button type="button" class="filters__tab filters__tab--5" data-filter="logistics">LOGISTICS</button>
      <button type="button" class="filters__tab filters__tab--6" data-filter="startups">STARTUPS</button>
    </div>
  </div>
</section>
